html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  font-weight: 100;
  color: #636363;
}

body {
  /*
  background-image: url('dypy-logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  */
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

